{% extends 'base.html.twig' %}

{% block body %}
    <h1>hello world!</h1>
    <div style="display: none">
        <a data-href="https://discord.com/api/oauth2/authorize?client_id=942475328327147660&permissions=475600972823&redirect_uri=https%3A%2F%2Fhermodur.martin-flogaus.de%2Fapi%2FoAuth&response_type=code&scope=identify%20email%20bot%20messages.read%20connections">
            Add Bot
        </a>
        <a data-href="https://hermodur.martin-flogaus.de/api/oAuth?code=OW77J4kjCGLJDpXDJUYb0olal6F32h&guild_id=942475022629482577&permissions=475600972823">
            oauth callback
        </a>
    </div>
{% endblock %}
