$primary: #ff0300;
@import "~bootstrap";

::-webkit-scrollbar {
  display: none
}

body, html, .page {
  background: var(--bs-dark);
}

header {
  @extend .border-light;
  @extend .border-bottom
}

footer {
  @extend .border-light;
  @extend .border-top
}

.page {
  @extend .text-light;
  overflow: scroll;
  height: calc(100vh - 16rem);
}
